nav ul {display:flex;
	justify-content:space-evenly;
	width:100%;
	background-color:black;
	margin:0;
	padding:0;
	list-style-type:none;

	color:white;
}

nav ul li {flex-basis:20%;

}


main {display:flex;

}

article {width:60%;
margin: 1.5em 2.52525% 0 2.0202%;}
		 
article img {max-width: 100%; margin-bottom: 1em;}


aside {width:40%;
		padding:2.0202%;
		max-width:200px;
		min-height:180px;
		background-color:#ffebc6;
		margin: 1.5em 2.0202% 0 0;
}

footer {background-color:pink;}